@keyframes slider {
	0%,30%,to {
		opacity: 0
	}
	
	24%,6% {
		opacity: 1
	}
}

@keyframes slide {
	0%,to {
		transform: translateY(-5px)
	}
	
	50% {
		transform: translateY(5px)
	}
}

@keyframes rotate {
	to {
		transform: rotate(360deg)
	}
}

*,:after,:before {
	box-sizing: border-box
}

body {
	font: 13px sans-serif;
	height: 100vh;
	margin: auto;
	overflow: hidden;
	width: 100vw
}

a {
	background-color: transparent;
	color: inherit;
	text-decoration: none
}

p {
	font-size: 13px;
	margin-bottom: 0;
	margin-top: 0
}

hr {
	margin: 0 0 10px
}

img {
	border-style: none;
	vertical-align: middle
}

pre {
	background-color: #273238;
	color: #fff;
	font-size: 15px;
	margin: 0;
	overflow-x: auto;
	padding-left: 10px;
	padding-right: 10px;
	white-space: pre
}

blockquote {
	border-left: 5px solid #273238;
	font-size: 17px;
	margin: auto;
	padding-left: 5px
}

iframe {
	border: 0;
	border-radius: 0;
	float: none;
	height: 100%;
	vertical-align: baseline;
	width: 100%
}

ol,ul {
	margin-bottom: auto;
	margin-top: auto
}

button,input,select,textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
	margin: 0
}

h1 {
	font-size: 20px
}

h2 {
	font-size: 18px
}

h3 {
	font-size: 16px
}

h4 {
	font-size: 14px
}

h5 {
	font-size: 12px
}

h6 {
	font-size: 10px
}

.text-left {
	text-align: left!important
}

.text-right {
	text-align: right!important
}

.text-center {
	text-align: center!important
}

.text-justify {
	text-align: justify!important
}

.text-lowercase {
	text-transform: lowercase!important
}

.text-uppercase {
	text-transform: uppercase!important
}

.text-capitalize {
	text-transform: capitalize!important
}

.text-line {
	text-decoration: line-through!important
}

.text-overline {
	text-decoration: overline!important
}

.text-underline {
	text-decoration: underline!important
}

.float-left {
	float: left!important
}

.float-right {
	float: right!important
}

.float-none {
	float: none!important
}

.word-all {
	word-break: break-all!important
}

.word-word {
	word-break: break-word!important
}

.word-normal {
	word-break: normal!important
}

.white-pre {
	white-space: pre!important
}

.white-nowrap {
	white-space: nowrap!important
}

.white-normal {
	white-space: normal!important
}

.vertical-middle {
	vertical-align: middle!important
}

.vertical-top {
	vertical-align: top!important
}

.vertical-bottom {
	vertical-align: bottom!important
}

.vertical-baseline {
	vertical-align: baseline!important
}

.visibility-visible {
	visibility: visible!important
}

.visibility-hidden {
	visibility: hidden!important
}

.position-absolute {
	position: absolute!important
}

.position-relative {
	position: relative!important
}

.position-fixed {
	position: fixed!important
}

.position-static {
	position: static!important
}

.position-sticky {
	position: sticky!important
}

.overflow-hidden {
	overflow: hidden!important
}

.overflow-visible {
	overflow: visible!important
}

.overflow-auto {
	overflow: auto!important
}

.top-0 {
	top: 0!important
}

.bottom-0 {
	bottom: 0!important
}

.left-0 {
	left: 0!important
}

.right-0 {
	right: 0!important
}

.top-5 {
	top: 5px!important
}

.bottom-5 {
	bottom: 5px!important
}

.left-5 {
	left: 5px!important
}

.right-5 {
	right: 5px!important
}

.top-10 {
	top: 10px!important
}

.bottom-10 {
	bottom: 10px!important
}

.left-10 {
	left: 10px!important
}

.right-10 {
	right: 10px!important
}

.top-15 {
	top: 15px!important
}

.bottom-15 {
	bottom: 15px!important
}

.left-15 {
	left: 15px!important
}

.right-15 {
	right: 15px!important
}

.top-20 {
	top: 20px!important
}

.bottom-20 {
	bottom: 20px!important
}

.left-20 {
	left: 20px!important
}

.right-20 {
	right: 20px!important
}

.top-25 {
	top: 25px!important
}

.bottom-25 {
	bottom: 25px!important
}

.left-25 {
	left: 25px!important
}

.right-25 {
	right: 25px!important
}

.top-30 {
	top: 30px!important
}

.bottom-30 {
	bottom: 30px!important
}

.left-30 {
	left: 30px!important
}

.right-30 {
	right: 30px!important
}

.top-35 {
	top: 35px!important
}

.bottom-35 {
	bottom: 35px!important
}

.left-35 {
	left: 35px!important
}

.right-35 {
	right: 35px!important
}

.top-40 {
	top: 40px!important
}

.bottom-40 {
	bottom: 40px!important
}

.left-40 {
	left: 40px!important
}

.right-40 {
	right: 40px!important
}

.top-45 {
	top: 45px!important
}

.bottom-45 {
	bottom: 45px!important
}

.left-45 {
	left: 45px!important
}

.right-45 {
	right: 45px!important
}

.top-50 {
	top: 50px!important
}

.bottom-50 {
	bottom: 50px!important
}

.left-50 {
	left: 50px!important
}

.right-50 {
	right: 50px!important
}

.margin-0 {
	margin: 0!important
}

.margin-top-0 {
	margin-top: 0!important
}

.margin-bottom-0 {
	margin-bottom: 0!important
}

.margin-left-0 {
	margin-left: 0!important
}

.margin-right-0 {
	margin-right: 0!important
}

.margin-5 {
	margin: 5px!important
}

.margin-top-5 {
	margin-top: 5px!important
}

.margin-bottom-5 {
	margin-bottom: 5px!important
}

.margin-left-5 {
	margin-left: 5px!important
}

.margin-right-5 {
	margin-right: 5px!important
}

.margin-10 {
	margin: 10px!important
}

.margin-top-10 {
	margin-top: 10px!important
}

.margin-bottom-10 {
	margin-bottom: 10px!important
}

.margin-left-10 {
	margin-left: 10px!important
}

.margin-right-10 {
	margin-right: 10px!important
}

.margin-15 {
	margin: 15px!important
}

.margin-top-15 {
	margin-top: 15px!important
}

.margin-bottom-15 {
	margin-bottom: 15px!important
}

.margin-left-15 {
	margin-left: 15px!important
}

.margin-right-15 {
	margin-right: 15px!important
}

.margin-20 {
	margin: 20px!important
}

.margin-top-20 {
	margin-top: 20px!important
}

.margin-bottom-20 {
	margin-bottom: 20px!important
}

.margin-left-20 {
	margin-left: 20px!important
}

.margin-right-20 {
	margin-right: 20px!important
}

.margin-25 {
	margin: 25px!important
}

.margin-top-25 {
	margin-top: 25px!important
}

.margin-bottom-25 {
	margin-bottom: 25px!important
}

.margin-left-25 {
	margin-left: 25px!important
}

.margin-right-25 {
	margin-right: 25px!important
}

.margin-30 {
	margin: 30px!important
}

.margin-top-30 {
	margin-top: 30px!important
}

.margin-bottom-30 {
	margin-bottom: 30px!important
}

.margin-left-30 {
	margin-left: 30px!important
}

.margin-right-30 {
	margin-right: 30px!important
}

.margin-35 {
	margin: 35px!important
}

.margin-top-35 {
	margin-top: 35px!important
}

.margin-bottom-35 {
	margin-bottom: 35px!important
}

.margin-left-35 {
	margin-left: 35px!important
}

.margin-right-35 {
	margin-right: 35px!important
}

.margin-40 {
	margin: 40px!important
}

.margin-top-40 {
	margin-top: 40px!important
}

.margin-bottom-40 {
	margin-bottom: 40px!important
}

.margin-left-40 {
	margin-left: 40px!important
}

.margin-right-40 {
	margin-right: 40px!important
}

.margin-45 {
	margin: 45px!important
}

.margin-top-45 {
	margin-top: 45px!important
}

.margin-bottom-45 {
	margin-bottom: 45px!important
}

.margin-left-45 {
	margin-left: 45px!important
}

.margin-right-45 {
	margin-right: 45px!important
}

.margin-50 {
	margin: 50px!important
}

.margin-top-50 {
	margin-top: 50px!important
}

.margin-bottom-50 {
	margin-bottom: 50px!important
}

.margin-left-50 {
	margin-left: 50px!important
}

.margin-right-50 {
	margin-right: 50px!important
}

.padding-0 {
	padding: 0!important
}

.padding-top-0 {
	padding-top: 0!important
}

.padding-bottom-0 {
	padding-bottom: 0!important
}

.padding-left-0 {
	padding-left: 0!important
}

.padding-right-0 {
	padding-right: 0!important
}

.padding-5 {
	padding: 5px!important
}

.padding-top-5 {
	padding-top: 5px!important
}

.padding-bottom-5 {
	padding-bottom: 5px!important
}

.padding-left-5 {
	padding-left: 5px!important
}

.padding-right-5 {
	padding-right: 5px!important
}

.padding-10 {
	padding: 10px!important
}

.padding-top-10 {
	padding-top: 10px!important
}

.padding-bottom-10 {
	padding-bottom: 10px!important
}

.padding-left-10 {
	padding-left: 10px!important
}

.padding-right-10 {
	padding-right: 10px!important
}

.padding-15 {
	padding: 15px!important
}

.padding-top-15 {
	padding-top: 15px!important
}

.padding-bottom-15 {
	padding-bottom: 15px!important
}

.padding-left-15 {
	padding-left: 15px!important
}

.padding-right-15 {
	padding-right: 15px!important
}

.padding-20 {
	padding: 20px!important
}

.padding-top-20 {
	padding-top: 20px!important
}

.padding-bottom-20 {
	padding-bottom: 20px!important
}

.padding-left-20 {
	padding-left: 20px!important
}

.padding-right-20 {
	padding-right: 20px!important
}

.padding-25 {
	padding: 25px!important
}

.padding-top-25 {
	padding-top: 25px!important
}

.padding-bottom-25 {
	padding-bottom: 25px!important
}

.padding-left-25 {
	padding-left: 25px!important
}

.padding-right-25 {
	padding-right: 25px!important
}

.padding-30 {
	padding: 30px!important
}

.padding-top-30 {
	padding-top: 30px!important
}

.padding-bottom-30 {
	padding-bottom: 30px!important
}

.padding-left-30 {
	padding-left: 30px!important
}

.padding-right-30 {
	padding-right: 30px!important
}

.padding-35 {
	padding: 35px!important
}

.padding-top-35 {
	padding-top: 35px!important
}

.padding-bottom-35 {
	padding-bottom: 35px!important
}

.padding-left-35 {
	padding-left: 35px!important
}

.padding-right-35 {
	padding-right: 35px!important
}

.padding-40 {
	padding: 40px!important
}

.padding-top-40 {
	padding-top: 40px!important
}

.padding-bottom-40 {
	padding-bottom: 40px!important
}

.padding-left-40 {
	padding-left: 40px!important
}

.padding-right-40 {
	padding-right: 40px!important
}

.padding-45 {
	padding: 45px!important
}

.padding-top-45 {
	padding-top: 45px!important
}

.padding-bottom-45 {
	padding-bottom: 45px!important
}

.padding-left-45 {
	padding-left: 45px!important
}

.padding-right-45 {
	padding-right: 45px!important
}

.padding-50 {
	padding: 50px!important
}

.padding-top-50 {
	padding-top: 50px!important
}

.padding-bottom-50 {
	padding-bottom: 50px!important
}

.padding-left-50 {
	padding-left: 50px!important
}

.padding-right-50 {
	padding-right: 50px!important
}

.font-0 {
	font-size: 0!important
}

.font-1 {
	font-size: 1px!important
}

.font-2 {
	font-size: 2px!important
}

.font-3 {
	font-size: 3px!important
}

.font-4 {
	font-size: 4px!important
}

.font-5 {
	font-size: 5px!important
}

.font-6 {
	font-size: 6px!important
}

.font-7 {
	font-size: 7px!important
}

.font-8 {
	font-size: 8px!important
}

.font-9 {
	font-size: 9px!important
}

.font-10 {
	font-size: 10px!important
}

.font-11 {
	font-size: 11px!important
}

.font-12 {
	font-size: 12px!important
}

.font-13 {
	font-size: 13px!important
}

.font-14 {
	font-size: 14px!important
}

.font-15 {
	font-size: 15px!important
}

.font-16 {
	font-size: 16px!important
}

.font-17 {
	font-size: 17px!important
}

.font-18 {
	font-size: 18px!important
}

.font-19 {
	font-size: 19px!important
}

.font-20 {
	font-size: 20px!important
}

.font-21 {
	font-size: 21px!important
}

.font-22 {
	font-size: 22px!important
}

.font-23 {
	font-size: 23px!important
}

.font-24 {
	font-size: 24px!important
}

.font-25 {
	font-size: 25px!important
}

.font-26 {
	font-size: 26px!important
}

.font-27 {
	font-size: 27px!important
}

.font-28 {
	font-size: 28px!important
}

.font-29 {
	font-size: 29px!important
}

.font-30 {
	font-size: 30px!important
}

.font-31 {
	font-size: 31px!important
}

.font-32 {
	font-size: 32px!important
}

.font-33 {
	font-size: 33px!important
}

.font-34 {
	font-size: 34px!important
}

.font-35 {
	font-size: 35px!important
}

.font-36 {
	font-size: 36px!important
}

.font-37 {
	font-size: 37px!important
}

.font-38 {
	font-size: 38px!important
}

.font-39 {
	font-size: 39px!important
}

.font-40 {
	font-size: 40px!important
}

.font-41 {
	font-size: 41px!important
}

.font-42 {
	font-size: 42px!important
}

.font-43 {
	font-size: 43px!important
}

.font-44 {
	font-size: 44px!important
}

.font-45 {
	font-size: 45px!important
}

.font-46 {
	font-size: 46px!important
}

.font-47 {
	font-size: 47px!important
}

.font-48 {
	font-size: 48px!important
}

.font-49 {
	font-size: 49px!important
}

.font-50 {
	font-size: 50px!important
}

.font-100 {
	font-weight: 100!important
}

.font-200 {
	font-weight: 200!important
}

.font-300 {
	font-weight: 300!important
}

.font-400 {
	font-weight: 400!important
}

.font-500 {
	font-weight: 500!important
}

.font-600 {
	font-weight: 600!important
}

.font-700 {
	font-weight: 700!important
}

.font-800 {
	font-weight: 800!important
}

.font-900 {
	font-weight: 900!important
}

.radius-0 {
	border-radius: 0!important
}

.radius-1 {
	border-radius: 1px!important
}

.radius-2 {
	border-radius: 2px!important
}

.radius-3 {
	border-radius: 3px!important
}

.radius-4 {
	border-radius: 4px!important
}

.radius-5 {
	border-radius: 5px!important
}

.radius-6 {
	border-radius: 6px!important
}

.radius-7 {
	border-radius: 7px!important
}

.radius-8 {
	border-radius: 8px!important
}

.radius-9 {
	border-radius: 9px!important
}

.radius-10 {
	border-radius: 10px!important
}

.radius-11 {
	border-radius: 11px!important
}

.radius-12 {
	border-radius: 12px!important
}

.radius-13 {
	border-radius: 13px!important
}

.radius-14 {
	border-radius: 14px!important
}

.radius-15 {
	border-radius: 15px!important
}

.radius-16 {
	border-radius: 16px!important
}

.radius-17 {
	border-radius: 17px!important
}

.radius-18 {
	border-radius: 18px!important
}

.radius-19 {
	border-radius: 19px!important
}

.radius-20 {
	border-radius: 20px!important
}

.radius-21 {
	border-radius: 21px!important
}

.radius-22 {
	border-radius: 22px!important
}

.radius-23 {
	border-radius: 23px!important
}

.radius-24 {
	border-radius: 24px!important
}

.radius-25 {
	border-radius: 25px!important
}

.radius-26 {
	border-radius: 26px!important
}

.radius-27 {
	border-radius: 27px!important
}

.radius-28 {
	border-radius: 28px!important
}

.radius-29 {
	border-radius: 29px!important
}

.radius-30 {
	border-radius: 30px!important
}

.radius-31 {
	border-radius: 31px!important
}

.radius-32 {
	border-radius: 32px!important
}

.radius-33 {
	border-radius: 33px!important
}

.radius-34 {
	border-radius: 34px!important
}

.radius-35 {
	border-radius: 35px!important
}

.radius-36 {
	border-radius: 36px!important
}

.radius-37 {
	border-radius: 37px!important
}

.radius-38 {
	border-radius: 38px!important
}

.radius-39 {
	border-radius: 39px!important
}

.radius-40 {
	border-radius: 40px!important
}

.radius-41 {
	border-radius: 41px!important
}

.radius-42 {
	border-radius: 42px!important
}

.radius-43 {
	border-radius: 43px!important
}

.radius-44 {
	border-radius: 44px!important
}

.radius-45 {
	border-radius: 45px!important
}

.radius-46 {
	border-radius: 46px!important
}

.radius-47 {
	border-radius: 47px!important
}

.radius-48 {
	border-radius: 48px!important
}

.radius-49 {
	border-radius: 49px!important
}

.radius-50 {
	border-radius: 50px!important
}

.background-color-transparent {
	background-color: transparent!important
}

.border-color-transparent {
	border-color: transparent!important
}

.color-transparent {
	color: transparent!important
}

.background-color-inherit {
	background-color: inherit!important
}

.border-color-inherit {
	border-color: inherit!important
}

.color-inherit {
	color: inherit!important
}

.background-color-white {
	background-color: #fff!important
}

.border-color-white {
	border-color: #fff!important
}

.color-white {
	color: #fff!important
}

.background-color-red {
	background-color: #f44336!important
}

.border-color-red {
	border-color: #f44336!important
}

.color-red {
	color: #f44336!important
}

.background-color-orange {
	background-color: #ff9800!important
}

.border-color-orange {
	border-color: #ff9800!important
}

.color-orange {
	color: #ff9800!important
}

.background-color-yellow {
	background-color: #ffeb3b!important
}

.border-color-yellow {
	border-color: #ffeb3b!important
}

.color-yellow {
	color: #ffeb3b!important
}

.background-color-green {
	background-color: #4caf50!important
}

.border-color-green {
	border-color: #4caf50!important
}

.color-green {
	color: #4caf50!important
}

.background-color-blue {
	background-color: #2196f3!important
}

.border-color-blue {
	border-color: #2196f3!important
}

.color-blue {
	color: #2196f3!important
}

.background-color-purple {
	background-color: #9c27b0!important
}

.border-color-purple {
	border-color: #9c27b0!important
}

.color-purple {
	color: #9c27b0!important
}

.background-color-black {
	background-color: #000!important
}

.border-color-black {
	border-color: #000!important
}

.color-black {
	color: #000!important
}

.visible:not(table):not(tr) {
	display: block!important
}

table.visible {
	display: table!important
}

tr.visible {
	display: table-row!important
}

td.visible,th.visible {
	display: table-cell!important
}

.visible-inline {
	display: inline!important
}

.visible-inline-block {
	display: inline-block!important
}

.hidden,.visible-inline-block-lg,.visible-inline-block-sm,.visible-inline-block-xs,.visible-inline-lg,.visible-inline-sm,.visible-inline-xs,.visible-lg,.visible-sm,.visible-xs {
	display: none!important
}

.rounded {
	border-radius: 5px
}

.circle {
	border-radius: 50%
}

.thumbnail {
	border: 5px solid #273238;
	border-radius: 5px;
	padding: 5px
}

.roll {
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
	overflow-x: auto;
	padding-left: 5px;
	padding-right: 5px
}

.row {
	display: block;
	font-size: 0;
	margin: -5px
}

.roll>.col-1,.roll>.col-1-lg,.roll>.col-1-sm,.roll>.col-1-xs,.roll>.col-10,.roll>.col-10-lg,.roll>.col-10-sm,.roll>.col-10-xs,.roll>.col-11,.roll>.col-11-lg,.roll>.col-11-sm,.roll>.col-11-xs,.roll>.col-12,.roll>.col-12-lg,.roll>.col-12-sm,.roll>.col-12-xs,.roll>.col-2,.roll>.col-2-lg,.roll>.col-2-sm,.roll>.col-2-xs,.roll>.col-3,.roll>.col-3-lg,.roll>.col-3-sm,.roll>.col-3-xs,.roll>.col-4,.roll>.col-4-lg,.roll>.col-4-sm,.roll>.col-4-xs,.roll>.col-5,.roll>.col-5-lg,.roll>.col-5-sm,.roll>.col-5-xs,.roll>.col-6,.roll>.col-6-lg,.roll>.col-6-sm,.roll>.col-6-xs,.roll>.col-7,.roll>.col-7-lg,.roll>.col-7-sm,.roll>.col-7-xs,.roll>.col-8,.roll>.col-8-lg,.roll>.col-8-sm,.roll>.col-8-xs,.roll>.col-9,.roll>.col-9-lg,.roll>.col-9-sm,.roll>.col-9-xs {
	padding-left: 5px;
	padding-right: 5px
}

.row>.col-1,.row>.col-1-lg,.row>.col-1-sm,.row>.col-1-xs,.row>.col-10,.row>.col-10-lg,.row>.col-10-sm,.row>.col-10-xs,.row>.col-11,.row>.col-11-lg,.row>.col-11-sm,.row>.col-11-xs,.row>.col-12,.row>.col-12-lg,.row>.col-12-sm,.row>.col-12-xs,.row>.col-2,.row>.col-2-lg,.row>.col-2-sm,.row>.col-2-xs,.row>.col-3,.row>.col-3-lg,.row>.col-3-sm,.row>.col-3-xs,.row>.col-4,.row>.col-4-lg,.row>.col-4-sm,.row>.col-4-xs,.row>.col-5,.row>.col-5-lg,.row>.col-5-sm,.row>.col-5-xs,.row>.col-6,.row>.col-6-lg,.row>.col-6-sm,.row>.col-6-xs,.row>.col-7,.row>.col-7-lg,.row>.col-7-sm,.row>.col-7-xs,.row>.col-8,.row>.col-8-lg,.row>.col-8-sm,.row>.col-8-xs,.row>.col-9,.row>.col-9-lg,.row>.col-9-sm,.row>.col-9-xs {
	padding: 5px
}

.col-1-lg,.col-1-sm,.col-1-xs,.col-10-lg,.col-10-sm,.col-10-xs,.col-11-lg,.col-11-sm,.col-11-xs,.col-12-lg,.col-12-sm,.col-12-xs,.col-2-lg,.col-2-sm,.col-2-xs,.col-3-lg,.col-3-sm,.col-3-xs,.col-4-lg,.col-4-sm,.col-4-xs,.col-5-lg,.col-5-sm,.col-5-xs,.col-6-lg,.col-6-sm,.col-6-xs,.col-7-lg,.col-7-sm,.col-7-xs,.col-8-lg,.col-8-sm,.col-8-xs,.col-9-lg,.col-9-sm,.col-9-xs {
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	max-width: 100%;
	min-height: 1px;
	min-width: 100%;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	vertical-align: top;
	white-space: normal;
	width: 100%;
	word-break: normal
}

.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9 {
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	min-height: 1px;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	vertical-align: top;
	white-space: normal;
	word-break: normal
}

.col-12 {
	max-width: 100%;
	min-width: 100%;
	width: 100%
}

.col-11 {
	max-width: 91.66666667%;
	min-width: 91.66666667%;
	width: 91.66666667%
}

.col-10 {
	max-width: 83.33333333%;
	min-width: 83.33333333%;
	width: 83.33333333%
}

.col-9 {
	max-width: 75%;
	min-width: 75%;
	width: 75%
}

.col-8 {
	max-width: 66.66666667%;
	min-width: 66.66666667%;
	width: 66.66666667%
}

.col-7 {
	max-width: 58.33333333%;
	min-width: 58.33333333%;
	width: 58.33333333%
}

.col-6 {
	max-width: 50%;
	min-width: 50%;
	width: 50%
}

.col-5 {
	max-width: 41.66666667%;
	min-width: 41.66666667%;
	width: 41.66666667%
}

.col-4 {
	max-width: 33.33333333%;
	min-width: 33.33333333%;
	width: 33.33333333%
}

.col-3 {
	max-width: 25%;
	min-width: 25%;
	width: 25%
}

.col-2 {
	max-width: 16.66666667%;
	min-width: 16.66666667%;
	width: 16.66666667%
}

.col-1 {
	max-width: 8.33333333%;
	min-width: 8.33333333%;
	width: 8.33333333%
}

.divider {
	background-color: #273238;
	display: block;
	height: 1px;
	margin: -.5px -10px
}

.name {
	display: block;
	font-size: 0;
	line-height: 20px;
	min-height: 20px;
	word-break: break-word
}

.clearfix {
	display: block;
	overflow: auto
}

.clearfix:after {
	clear: both
}

.clearfix:after,.clearfix:before {
	content: '';
	display: block
}

.focus {
	opacity: .7
}

.model {
	display: block;
	font-size: 0;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap
}

.custom {
	display: none;
	font-size: 0;
	height: 0;
	margin: 0;
	opacity: 0;
	padding: 0;
	width: 0
}

.form {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 0;
	color: inherit;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	resize: vertical
}

.form:not(.small):not(.media) {
	border-radius: 5px;
	min-height: 40px;
	padding: 10px;
	transition: box-shadow .25s
}

.form.media:not(.small) {
	min-height: 40px;
	padding: 10px 0
}

.form.small:not(.media) {
	border-radius: 5px;
	min-height: 20px;
	padding: 0 10px;
	transition: box-shadow .25s
}

.form.media.small {
	min-height: 20px;
	padding: 0
}

select.form {
	background-image: url(content/select.png);
	background-origin: content-box;
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: 10px
}

.form:not(:focus):not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media) {
	box-shadow: inset 0 0 5px 0 #d8dada
}

.form:focus:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media) {
	box-shadow: inset 0 0 5px 0 #273238
}

.form:not(:focus).info {
	box-shadow: inset 0 0 5px 0 #00bcd4
}

.form:focus.info {
	box-shadow: inset 0 0 5px 0 #008fa1
}

.form:not(:focus).success {
	box-shadow: inset 0 0 5px 0 #4caf50
}

.form:focus.success {
	box-shadow: inset 0 0 5px 0 #3d8b40
}

.form:not(:focus).warning {
	box-shadow: inset 0 0 5px 0 #ff9800
}

.form:focus.warning {
	box-shadow: inset 0 0 5px 0 #cc7a00
}

.form:not(:focus).error {
	box-shadow: inset 0 0 5px 0 #f44336
}

.form:focus.error {
	box-shadow: inset 0 0 5px 0 #ea1c0d
}

.form:not(:focus).default {
	box-shadow: inset 0 0 5px 0 #9e9e9e
}

.form:focus.default {
	box-shadow: inset 0 0 5px 0 #7c7c7c
}

.form:not(:focus).second {
	box-shadow: inset 0 0 5px 0 transparent
}

.form:focus.second {
	box-shadow: inset 0 0 5px 0 rgba(0,0,0,.1)
}

.slider {
	background-color: #d8dada;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	height: 10px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	top: 5px
}

.slider .slider-range {
	background-color: #273238;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: width .25s;
	width: 0
}

.slider .slider-range:before {
	background-color: #273238;
	border-radius: 5px;
	content: '';
	height: 20px;
	left: calc(100% - 10px);
	position: absolute;
	top: -5px;
	width: 20px
}

.wrapper {
	background-color: #eae5da;
	color: #000;
	display: block;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	width: 100%
}

.check {
	display: inline-block;
	vertical-align: top
}

.check>input+.check-checkbox {
	border: 1px solid #273238;
	border-radius: 5px;
	display: block;
	height: 20px;
	position: relative;
	transition: background-color .25s;
	width: 20px
}

.check>input:checked+.check-checkbox {
	background-color: #273238
}

.check>input+.check-checkbox:before {
	color: #fff;
	content: '\f26b';
	font: 18px/1 Material-Design-Iconic-Font;
	height: 18px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all .25s;
	width: 18px
}

.check>input+.check-radio {
	border: 1px solid #273238;
	border-radius: 50%;
	display: block;
	height: 20px;
	position: relative;
	width: 20px
}

.check>input+.check-radio:before {
	background-color: #273238;
	border-radius: 50%;
	content: '';
	height: 16px;
	left: 1px;
	position: absolute;
	top: 1px;
	transition: all .25s;
	width: 16px
}

.check>input:not(:checked)+.check-checkbox:before,.check>input:not(:checked)+.check-radio:before {
	opacity: 0;
	transform: scale(0)
}

.check>input:checked+.check-checkbox:before,.check>input:checked+.check-radio:before {
	opacity: 1;
	transform: scale(1)
}

.check>input+.check-switch {
	background-color: rgba(0,0,0,.1);
	border-radius: 5px;
	display: block;
	height: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	position: relative;
	transition: background-color .25s;
	width: 40px
}

.check>input+.check-switch:before {
	border-radius: 5px;
	content: '';
	height: 20px;
	position: absolute;
	top: -5px;
	transition: all .25s;
	width: 20px
}

.check>input:not(:checked)+.check-switch:before {
	background-color: #d8dada;
	left: 0
}

.check>input:checked+.check-switch:before {
	background-color: #273238;
	left: 20px
}

.collapse {
	overflow: hidden
}

.half {
	max-height: 50%;
	max-width: 50%
}

.full {
	max-height: 100%;
	max-width: 100%
}

.inner {
	display: block;
	height: 100%;
	position: relative;
	width: 100%
}

.collapsing {
	display: block;
	height: 0;
	overflow: hidden;
	transition: height .25s
}

.caption {
	background-color: rgba(0,0,0,.5);
	bottom: 0;
	color: #fff;
	display: block;
	padding: 10px;
	position: absolute;
	width: 100%
}

.centered {
	display: flex;
	height: 100%;
	width: 100%
}

.centered .centered-content {
	display: block;
	margin: auto
}

.center {
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%)
}

.carousel {
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%
}

.carousel .carousel-item {
	height: 100%;
	transition: left .25s;
	width: 100%
}

.carousel .carousel-item:not(.next),.carousel .carousel-item:not(.prev) {
	position: relative
}

.carousel .carousel-item.next,.carousel .carousel-item.prev {
	display: block;
	position: absolute;
	top: 0
}

.carousel .carousel-item.active:not(.left):not(.right),.carousel .carousel-item.next.left,.carousel .carousel-item.prev.right {
	left: 0
}

.carousel .carousel-item.active.left,.carousel .carousel-item.prev:not(.right) {
	left: -100%
}

.carousel .carousel-item.active.right,.carousel .carousel-item.next:not(.left) {
	left: 100%
}

.indicator {
	background-image: radial-gradient(circle,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 75%);
	color: #fff;
	cursor: pointer;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 40px
}

.indicator:before {
	font: 24px/40px Material-Design-Iconic-Font
}

.indicator:not(.next) {
	left: 10px
}

.indicator:not(.next):before {
	content: '\f2fa'
}

.indicator.next {
	right: 10px
}

.indicator.next:before {
	content: '\f2fb'
}

.alert.media {
	display: block;
	padding-bottom: 10px;
	padding-top: 10px
}

.alert:not(.media) {
	border-radius: 5px;
	display: block;
	padding: 10px 10px 10px 5px;
	transition: all .25s
}

.alert:not(.media)>.banner {
	border-bottom-right-radius: 5px;
	margin-left: -5px;
	margin-right: -10px
}

.alert.hover:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media):not(.active):not(:hover),.alert:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media):not(.active):not(.hover):not(a),a.alert:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media):not(.active):not(:hover) {
	background-color: #d8dada;
	border-left: 5px solid #273238;
	color: #000
}

.alert.active:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media),.alert.hover:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media):hover,a.alert:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media):hover {
	background-color: #273238;
	border-left: 5px solid #d8dada;
	color: #fff
}

.alert.info:not(.active) {
	background-color: #00bcd4;
	border-left: 5px solid #008fa1;
	color: #fff
}

.alert.hover.info:hover,.alert.info.active,a.alert.info:hover {
	background-color: #008fa1;
	border-left: 5px solid #00bcd4;
	color: #fff
}

.alert.success:not(.active) {
	background-color: #4caf50;
	border-left: 5px solid #3d8b40;
	color: #fff
}

.alert.hover.success:hover,.alert.success.active,a.alert.success:hover {
	background-color: #3d8b40;
	border-left: 5px solid #4caf50;
	color: #fff
}

.alert.warning:not(.active) {
	background-color: #ff9800;
	border-left: 5px solid #cc7a00;
	color: #fff
}

.alert.hover.warning:hover,.alert.warning.active,a.alert.warning:hover {
	background-color: #cc7a00;
	border-left: 5px solid #ff9800;
	color: #fff
}

.alert.error:not(.active) {
	background-color: #f44336;
	border-left: 5px solid #ea1c0d;
	color: #fff
}

.alert.error.active,.alert.hover.error:hover,a.alert.error:hover {
	background-color: #ea1c0d;
	border-left: 5px solid #f44336;
	color: #fff
}

.alert.default:not(.active) {
	background-color: #9e9e9e;
	border-left: 5px solid #7c7c7c;
	color: #fff
}

.alert.default.active,.alert.hover.default:hover,a.alert.default:hover {
	background-color: #7c7c7c;
	border-left: 5px solid #9e9e9e;
	color: #fff
}

.alert.second:not(.active) {
	background-color: transparent;
	border-left: 5px solid rgba(0,0,0,.1);
	color: inherit
}

.alert.hover.second:hover,.alert.second.active,a.alert.second:hover {
	background-color: rgba(0,0,0,.1);
	border-left: 5px solid transparent;
	color: inherit
}

.app {
	display: block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px
}

.fade {
	transition: all .25s
}

.fade:not(.in) {
	opacity: 0
}

.fade.in {
	opacity: 1
}

.online {
	bottom: 0;
	display: block;
	position: absolute;
	right: 0
}

.progress {
	background-color: #d8dada;
	border-radius: 5px;
	display: block;
	height: 20px;
	overflow: hidden
}

.progress .progress-bar {
	background-color: #273238;
	display: block;
	height: 100%;
	transition: width .25s;
	width: 0
}

.above,.over {
	display: block;
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px
}

.above:not(:first-child) {
	margin-top: 5px
}

.over:not(:first-child) {
	margin-top: 10px
}

.above:not(:last-child) {
	margin-bottom: 5px
}

.over:not(:last-child) {
	margin-bottom: 10px
}

.above:first-child,.over:first-child {
	margin-top: 0
}

.above:last-child,.over:last-child {
	margin-bottom: 0
}

.banner {
	display: flex;
	height: 180px;
	overflow: hidden;
	position: relative
}

.banner>img {
	margin: auto;
	max-height: 180px;
	max-width: 100%
}

.banner>span {
	background-color: rgba(0,0,0,.5);
	color: #fff;
	display: block;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	max-width: calc(100% - 20px);
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	right: 10px;
	top: 10px;
	white-space: nowrap
}

.slide {
	animation: slide ease-in-out 1s infinite;
	display: block;
	padding-bottom: 10px;
	padding-top: 10px
}

.dropdown {
	background-color: #eae5da;
	border-radius: 5px;
	box-shadow: 0 2px 30px rgba(0,0,0,.2);
	color: #000;
	font-size: 13px;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	position: fixed;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	white-space: normal;
	width: 360px;
	word-break: normal;
	z-index: 1200
}

.content {
	display: block;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px
}

.counter {
	display: block;
	position: absolute;
	right: 0;
	top: 0
}

.container {
	display: block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px
}

.action {
	bottom: 10px;
	display: block;
	position: fixed;
	right: 10px
}

.tab {
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px
}

.tooltip {
	display: none;
	font-size: 13px;
	font-weight: 400;
	position: absolute;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	z-index: 1300
}

.tooltip.top {
	padding-bottom: 5px
}

.tooltip.bottom {
	padding-top: 5px
}

.tooltip.left {
	padding-right: 5px
}

.tooltip.right {
	padding-left: 5px
}

.tooltip .tooltip-content {
	background-color: #eae5da;
	border-radius: 5px;
	box-shadow: 0 2px 30px rgba(0,0,0,.2);
	color: #000;
	display: block;
	max-height: 360px;
	max-width: 360px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px
}

.tooltip .tooltip-arrow {
	border-color: transparent;
	border-style: solid;
	display: block;
	height: 0;
	position: absolute;
	width: 0
}

.tooltip.top .tooltip-arrow {
	border-top-color: #eae5da;
	border-width: 5px 5px 0;
	bottom: 0;
	left: 50%;
	margin-left: -5px
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #eae5da;
	border-width: 0 5px 5px;
	left: 50%;
	margin-left: -5px;
	top: 0
}

.tooltip.left .tooltip-arrow {
	border-left-color: #eae5da;
	border-width: 5px 0 5px 5px;
	margin-top: -5px;
	right: 0;
	top: 50%
}

.tooltip.right .tooltip-arrow {
	border-right-color: #eae5da;
	border-width: 5px 5px 5px 0;
	left: 0;
	margin-top: -5px;
	top: 50%
}

.tooltip .tooltip-title {
	background-color: #eae5da;
	border-radius: 5px;
	box-shadow: 0 2px 30px rgba(0,0,0,.2);
	color: #000;
	display: block;
	font-size: 14px;
	line-height: 20px;
	max-width: 100%;
	min-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	word-break: break-word
}

.backdrop {
	background-color: rgba(0,0,0,.5);
	bottom: 0;
	display: block;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1100
}

.menu {
	display: block;
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px;
	transition: background-color .25s
}

.menu.active,.menu.hover:hover,a.menu:hover {
	background-color: rgba(0,0,0,.05)
}

.sidebar {
	background-color: #eae5da;
	box-shadow: 0 0 40px 2px rgba(0,0,0,.84);
	color: #000;
	height: 100%;
	left: 0;
	max-width: 360px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 75%;
	z-index: 1200
}

.sidebar.fade:not(.in) {
	transform: translateX(-100%)
}

.sidebar.fade.in {
	transform: translateX(0)
}

.modal {
	background-color: #eae5da;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0,0,0,.31);
	color: #000;
	font-size: 13px;
	font-weight: 400;
	left: 50%;
	max-height: calc(100% - 20px);
	max-width: 700px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	position: fixed;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	top: 50%;
	transform: translate(-50%,-50%);
	white-space: normal;
	width: calc(100% - 20px);
	word-break: normal;
	z-index: 1200
}

.navigation {
	background-color: rgba(0,0,0,.1);
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px
}

.toggle {
	display: inline-block;
	height: 20px;
	position: relative;
	vertical-align: top;
	width: 20px
}

.toggle:after,.toggle:before {
	font: 18px/20px Material-Design-Iconic-Font;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transition: transform .25s
}

.toggle:before {
	content: '\f278'
}

.toggle:after {
	content: '\f273'
}

.toggle.active:before,.toggle:not(.active):after {
	transform: translate(-50%,-50%) scale(0)
}

.toggle.active:after,.toggle:not(.active):before {
	transform: translate(-50%,-50%) scale(1)
}

.widget {
	border-radius: 5px;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
	display: block;
	padding: 10px
}

.navigate {
	display: block;
	margin-left: -10px;
	margin-right: -10px;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px
}

.detail {
	background-color: rgba(0,0,0,.5);
	bottom: 0;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	right: 0;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	top: 0;
	white-space: normal;
	word-break: normal;
	z-index: 1200
}

.gallery {
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%)
}

.forward {
	background-color: rgba(0,0,0,.1);
	border-radius: 5px;
	display: block;
	padding: 10px
}

.miniature {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 360px
}

.expand {
	background-color: rgba(0,0,0,.5);
	color: #fff;
	display: block;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000
}

.table {
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	width: 100%
}

.table>tbody>tr>td,.table>tfoot>tr>td,.table>thead>tr>td {
	border: 1px solid #d8dada;
	padding: 9px;
	text-align: left;
	vertical-align: middle
}

.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>th {
	background-color: rgba(0,0,0,.1);
	border: 1px solid #273238;
	font-weight: 400;
	padding: 9px;
	text-align: left;
	vertical-align: middle
}

.responsive {
	display: block;
	margin-left: -10px;
	margin-right: -10px;
	overflow-x: auto
}

.component {
	display: block;
	padding: 10px
}

.main {
	animation-iteration-count: infinite;
	animation-name: slider;
	animation-timing-function: linear;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1
}

.preview {
	display: block;
	font-size: 0;
	margin-left: -11px;
	margin-right: -10px;
	margin-top: -1px
}

.preview .preview-item {
	display: inline-block;
	margin-left: 1px;
	margin-top: 1px;
	position: relative
}

.preview .preview-item:first-child:nth-last-child(4)~.preview-item:nth-child(4),.preview .preview-item:only-child {
	width: calc(100% - 1px)
}

.preview .preview-item:first-child:nth-last-child(2),.preview .preview-item:first-child:nth-last-child(2)~.preview-item,.preview .preview-item:first-child:nth-last-child(5)~.preview-item:nth-last-of-type(-n+2) {
	width: calc(50% - 1px)
}

.preview .preview-item:first-child:nth-last-child(3),.preview .preview-item:first-child:nth-last-child(3)~.preview-item,.preview .preview-item:first-child:nth-last-child(4),.preview .preview-item:first-child:nth-last-child(4)~.preview-item:not(:last-child),.preview .preview-item:first-child:nth-last-child(5),.preview .preview-item:first-child:nth-last-child(5)~.preview-item:not(:nth-last-of-type(-n+2)),.preview .preview-item:first-child:nth-last-child(6),.preview .preview-item:first-child:nth-last-child(6)~.preview-item,.preview .preview-item:first-child:nth-last-child(7)~.preview-item:nth-last-of-type(-n+3) {
	width: calc(33.33333333% - 1px)
}

.preview .preview-item:first-child:nth-last-child(7),.preview .preview-item:first-child:nth-last-child(7)~.preview-item:not(:nth-last-of-type(-n+3)),.preview .preview-item:first-child:nth-last-child(n+8),.preview .preview-item:first-child:nth-last-child(n+8)~.preview-item {
	width: calc(25% - 1px)
}

.preview .preview-item>img {
	height: 100%;
	width: 100%
}

.preview .preview-item>span {
	background-color: rgba(0,0,0,.5);
	bottom: 10px;
	color: #fff;
	display: block;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	max-width: calc(100% - 20px);
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	right: 10px;
	white-space: nowrap
}

.card {
	display: block;
	height: 360px;
	margin: -10px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px
}

.place {
	display: block;
	height: 100%;
	position: relative
}

.preloader {
	animation: rotate 1s linear infinite;
	border-color: #273238 #273238 #d8dada #d8dada;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	display: inline-block;
	height: 40px;
	vertical-align: middle;
	width: 40px
}

.btn {
	font-size: 0;
	margin: 0;
	max-width: 100%;
	overflow: hidden;
	text-align: center;
	white-space: nowrap
}

.btn.disabled:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media),.btn.hover:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media):not(.active):not(:hover),.btn:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media):not(.active):not(.hover):not(a):not(button),.btn[disabled]:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media),a.btn:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media):not(.active):not(:hover),button.btn:not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media):not(.active):not(:hover) {
	background-color: #d8dada;
	border: 1px solid #d8dada;
	color: #000
}

.btn.active:not(.disabled):not([disabled]):not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media),.btn.hover:not(.disabled):not([disabled]):not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media):hover,a.btn:not(.disabled):not([disabled]):not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media):hover,button.btn:not(.disabled):not([disabled]):not(.info):not(.success):not(.warning):not(.error):not(.default):not(.second):not(.media):hover {
	background-color: #273238;
	border: 1px solid #273238;
	color: #fff
}

.btn:not(.small):not(.media) {
	border-radius: 5px;
	height: 40px;
	line-height: 20px;
	padding: 9px;
	transition: all .25s
}

.btn.media:not(.small) {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: inherit;
	height: 40px;
	line-height: 20px;
	padding: 10px 0
}

.btn.small:not(.media) {
	border-radius: 5px;
	height: 20px;
	line-height: 18px;
	padding: 0 9px;
	transition: all .25s
}

.btn.media.small {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: inherit;
	height: 20px;
	line-height: 20px;
	padding: 0
}

.btn:not(.media):not(.small)>.zmdi:first-child,.btn:not(.media):not(.small)>img:first-child {
	margin-left: -5px
}

.btn:not(.media):not(.small)>.zmdi:last-child,.btn:not(.media):not(.small)>img:last-child {
	margin-right: -5px
}

.btn.small:not(.media)>.zmdi:first-child,.btn.small:not(.media)>img:first-child {
	margin-left: -8px
}

.btn.small:not(.media)>.zmdi:last-child,.btn.small:not(.media)>img:last-child {
	margin-right: -8px
}

.btn:not(.small)>.zmdi {
	font-size: 24px;
	vertical-align: top
}

.btn.small>.zmdi {
	font-size: 12px;
	vertical-align: top
}

.btn:not(.media):not(.small)>.zmdi {
	line-height: 30px;
	margin-bottom: -5px;
	margin-top: -5px;
	width: 30px
}

.btn.media:not(.small)>.zmdi {
	line-height: 40px;
	margin-bottom: -10px;
	margin-top: -10px;
	width: 40px
}

.btn:not(.media):not(.small)>img {
	height: 30px;
	margin-bottom: -5px;
	margin-top: -5px;
	vertical-align: top;
	width: 30px
}

.btn.media:not(.small)>img {
	height: 40px;
	margin-bottom: -10px;
	margin-top: -10px;
	vertical-align: top;
	width: 40px
}

.btn.small:not(.media)>.zmdi {
	line-height: 14px;
	margin-bottom: 2px;
	margin-top: 2px;
	width: 14px
}

.btn.small.media>.zmdi {
	line-height: 20px;
	width: 20px
}

.btn.small:not(.media)>img {
	height: 14px;
	margin-bottom: 2px;
	margin-top: 2px;
	vertical-align: top;
	width: 14px
}

.btn.small.media>img {
	height: 20px;
	vertical-align: top;
	width: 20px
}

.btn.info.disabled,.btn.info:not(.active),.btn.info[disabled] {
	background-color: #00bcd4;
	border: 1px solid #00bcd4;
	color: #fff
}

.btn.hover.info:not(.disabled):not([disabled]):hover,.btn.info:not(.disabled):not([disabled]).active,a.btn.info:not(.disabled):not([disabled]):hover,button.btn.info:not(.disabled):not([disabled]):hover {
	background-color: #008fa1;
	border: 1px solid #008fa1;
	color: #fff
}

.btn.success.disabled,.btn.success:not(.active),.btn.success[disabled] {
	background-color: #4caf50;
	border: 1px solid #4caf50;
	color: #fff
}

.btn.hover.success:not(.disabled):not([disabled]):hover,.btn.success:not(.disabled):not([disabled]).active,a.btn.success:not(.disabled):not([disabled]):hover,button.btn.success:not(.disabled):not([disabled]):hover {
	background-color: #3d8b40;
	border: 1px solid #3d8b40;
	color: #fff
}

.btn.warning.disabled,.btn.warning:not(.active),.btn.warning[disabled] {
	background-color: #ff9800;
	border: 1px solid #ff9800;
	color: #fff
}

.btn.hover.warning:not(.disabled):not([disabled]):hover,.btn.warning:not(.disabled):not([disabled]).active,a.btn.warning:not(.disabled):not([disabled]):hover,button.btn.warning:not(.disabled):not([disabled]):hover {
	background-color: #cc7a00;
	border: 1px solid #cc7a00;
	color: #fff
}

.btn.error.disabled,.btn.error:not(.active),.btn.error[disabled] {
	background-color: #f44336;
	border: 1px solid #f44336;
	color: #fff
}

.btn.error:not(.disabled):not([disabled]).active,.btn.hover.error:not(.disabled):not([disabled]):hover,a.btn.error:not(.disabled):not([disabled]):hover,button.btn.error:not(.disabled):not([disabled]):hover {
	background-color: #ea1c0d;
	border: 1px solid #ea1c0d;
	color: #fff
}

.btn.default.disabled,.btn.default:not(.active),.btn.default[disabled] {
	background-color: #9e9e9e;
	border: 1px solid #9e9e9e;
	color: #fff
}

.btn.default:not(.disabled):not([disabled]).active,.btn.hover.default:not(.disabled):not([disabled]):hover,a.btn.default:not(.disabled):not([disabled]):hover,button.btn.default:not(.disabled):not([disabled]):hover {
	background-color: #7c7c7c;
	border: 1px solid #7c7c7c;
	color: #fff
}

.btn.second.disabled,.btn.second:not(.active),.btn.second[disabled] {
	background-color: transparent;
	border: 1px solid transparent;
	color: inherit
}

.btn.hover.second:not(.disabled):not([disabled]):hover,.btn.second:not(.disabled):not([disabled]).active,a.btn.second:not(.disabled):not([disabled]):hover,button.btn.second:not(.disabled):not([disabled]):hover {
	background-color: rgba(0,0,0,.05);
	border: 1px solid transparent;
	color: inherit
}

.fill {
	display: inline-block;
	font-size: 0;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	white-space: nowrap
}

.justified {
	display: flex;
	position: relative
}

.fill>.btn:first-child:not(:last-child):not(.addon),.fill>.fill:first-child:not(:last-child)>.addon,.fill>.fill:first-child:not(:last-child)>.btn:last-child,.fill>.fill:first-child:not(:last-child)>.form:last-child,.fill>.form:first-child:not(:last-child):not(.addon),.justified>.btn:first-child:not(:last-child):not(.addon),.justified>.fill:first-child:not(:last-child)>.addon,.justified>.fill:first-child:not(:last-child)>.btn:last-child,.justified>.fill:first-child:not(:last-child)>.form:last-child,.justified>.form:first-child:not(:last-child):not(.addon) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0
}

.fill>.addon:not(:first-child),.fill>.btn:last-child:not(:first-child),.fill>.fill:last-child:not(:first-child)>.btn:first-child,.fill>.fill:last-child:not(:first-child)>.form:first-child,.fill>.form:last-child:not(:first-child),.justified>.addon:not(:first-child),.justified>.btn:last-child:not(:first-child),.justified>.fill:last-child:not(:first-child)>.btn:first-child,.justified>.fill:last-child:not(:first-child)>.form:first-child,.justified>.form:last-child:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}

.fill>.btn:not(:first-child):not(:last-child):not(.addon),.fill>.fill:not(:first-child):not(:last-child)>.btn,.fill>.fill:not(:first-child):not(:last-child)>.form,.fill>.form:not(:first-child):not(:last-child):not(.addon),.justified>.btn:not(:first-child):not(:last-child):not(.addon),.justified>.fill:not(:first-child):not(:last-child)>.btn,.justified>.fill:not(:first-child):not(:last-child)>.form,.justified>.form:not(:first-child):not(:last-child):not(.addon) {
	border-radius: 0
}

.chart {
	display: block;
	height: 360px
}

.talk {
	display: block;
	margin-left: -10px;
	margin-right: -10px;
	padding: 9px 10px;
	transition: all .25s
}

.talk.hover:not(.active):not(:hover),.talk:not(.active):not(.hover):not(a),a.talk:not(.active):not(:hover) {
	border-bottom: 1px solid #d8dada;
	border-top: 1px solid #d8dada
}

.talk.active,.talk.hover:hover,a.talk:hover {
	border-bottom: 1px solid #273238;
	border-top: 1px solid #273238
}

.talk>.banner:first-child {
	margin-top: -9px
}

.talk>.banner:last-child {
	margin-bottom: -9px
}

.navbar {
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
	overflow-x: auto
}

.navbar .navbar-item {
	display: block;
	padding: 10px;
	position: relative;
	width: 100%
}

.navbar .navbar-item:before {
	background-color: #d8dada;
	bottom: 0;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	width: 100%
}

.navbar .navbar-item:after {
	background-color: #273238;
	bottom: 0;
	content: '';
	height: 2px;
	left: 50%;
	position: absolute;
	transition: all .25s
}

.navbar .navbar-item.hover:not(.active):not(:hover):after,.navbar .navbar-item:not(.active):not(.hover):not(a):after,.navbar a.navbar-item:not(.active):not(:hover):after {
	width: 0
}

.navbar .navbar-item.active:after,.navbar .navbar-item.hover:hover:after,.navbar a.navbar-item:hover:after {
	left: 0;
	width: 100%
}

.header {
	background-color: #eae5da;
	bottom: 0;
	box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12);
	color: #000;
	display: block;
	padding: 10px;
	position: sticky;
	top: 0;
	transition: all .25s;
	z-index: 1000
}

.control {
	display: flex;
	margin-left: -5px;
	margin-right: -5px
}

.control .control-addon {
	display: block;
	margin-left: 5px;
	margin-right: 5px
}

.control .control-block {
	display: block;
	margin: auto 5px;
	overflow: hidden;
	width: 100%
}

.footer {
	border-bottom: 5px solid #273238;
	border-left: 5px solid #d8dada;
	border-right: 5px solid #d8dada;
	border-top: 5px solid #273238;
	display: block;
	padding: 5px
}

.wrap {
	display: block;
	font-size: 0;
	margin-bottom: -5px
}

.wrap .wrap-item {
	display: inline-block;
	font-size: 13px;
	margin-bottom: 5px;
	vertical-align: middle
}

.wrap .wrap-item:not(:last-child) {
	margin-right: 5px
}

.wrap .wrap-item:last-child {
	margin-right: 0
}

.group {
	border-radius: 5px;
	display: block;
	padding: 9px;
	transition: border .25s
}

.group.hover:not(.active):not(:hover),.group:not(.active):not(.hover):not(a),a.group:not(.active):not(:hover) {
	border: 1px solid #d8dada
}

.group.active,.group.hover:hover,a.group:hover {
	border: 1px solid #273238
}

.group>.banner {
	margin-left: -9px;
	margin-right: -9px
}

.group>.banner:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: -9px
}

.group>.banner:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: -9px
}

.link {
	display: inline-block;
	font-size: 0;
	vertical-align: middle
}

.link.hover:not(.active):not(:hover),.link:not(.active):not(.hover):not(a),a.link:not(.active):not(:hover) {
	text-decoration: underline
}

.link.active,.link.hover:hover,a.link:hover {
	text-decoration: none
}

.logo {
	display: table-cell;
	height: 40px;
	min-width: 40px;
	vertical-align: middle
}

.logo>img {
	max-height: 40px;
	max-width: 100%
}

.message {
	display: flex
}

.message .message-media {
	bottom: 10px;
	display: block;
	margin-top: auto;
	position: sticky
}

.message .message-to {
	display: block;
	margin-left: 0;
	margin-right: auto;
	max-width: 75%
}

.message .message-them {
	background-color: rgba(0,0,0,.2);
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	margin-left: 10px;
	padding: 10px;
	position: relative
}

.message .message-them:not(:last-child) {
	border-bottom-left-radius: 5px;
	margin-bottom: 5px
}

.message .message-them:last-child:before {
	border-color: transparent rgba(0,0,0,.2) transparent transparent;
	border-style: solid;
	border-width: 10px 10px 0 0;
	bottom: 0;
	content: '';
	height: 0;
	left: -10px;
	position: absolute;
	width: 0
}

.message .message-me {
	display: block;
	margin-left: auto;
	margin-right: 0;
	max-width: 75%
}

.message .message-self {
	background-color: rgba(0,0,0,.1);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	margin-right: 10px;
	padding: 10px;
	position: relative
}

.message .message-self:not(:last-child) {
	border-bottom-right-radius: 5px;
	margin-bottom: 5px
}

.message .message-self:last-child:before {
	border-color: transparent transparent rgba(0,0,0,.1);
	border-style: solid;
	border-width: 0 10px 10px 0;
	bottom: 0;
	content: '';
	height: 0;
	position: absolute;
	right: -10px;
	width: 0
}

.body {
	display: block;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	width: 100%
}

.operation {
	bottom: 10px;
	display: block;
	position: absolute;
	right: 10px
}

.chat {
	background-color: #eae5da;
	border-collapse: collapse;
	border-spacing: 0;
	box-shadow: 0 0 40px 2px rgba(0,0,0,.84);
	color: #000;
	display: table;
	height: 100%;
	position: absolute;
	table-layout: fixed;
	top: 0
}

.chat:not(.active):not(.left):not(.right) {
	left: 0;
	right: 0;
	width: 100%
}

.chat.left:not(.active) {
	left: 0;
	width: 360px
}

.chat.active.left {
	left: 360px;
	width: calc(100% - 360px)
}

.chat.right:not(.active) {
	right: 0;
	width: 360px
}

.chat.active.right {
	right: 360px;
	width: calc(100% - 360px)
}

.chat.active.left.right {
	left: 360px;
	right: 360px;
	width: calc(100% - 720px)
}

.chat .chat-header {
	background-color: rgba(0,0,0,.1);
	display: table-row
}

.chat .chat-app {
	display: table-cell;
	height: 100%;
	width: 100%
}

.chat .chat-page {
	background-color: rgba(0,0,0,.1);
	display: table-row;
	height: 100%;
	width: 100%
}

.window {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	width: 100%
}

.listing {
	bottom: 10px;
	display: block;
	position: sticky;
	text-align: center;
	top: 10px;
	z-index: 1
}

.dropdown>.banner,.forward>.banner,.menu>.banner,.modal>.banner,.talk>.banner,.tooltip .tooltip-content>.banner,.widget>.banner {
	margin-left: -10px;
	margin-right: -10px
}

.alert>.banner:first-child,.menu>.banner:first-child {
	margin-top: -10px
}

.alert>.banner:last-child,.menu>.banner:last-child {
	margin-bottom: -10px
}

.dropdown>.banner:first-child,.forward>.banner:first-child,.modal>.banner:last-child,.tooltip .tooltip-content>.banner:first-child,.widget>.banner:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: -10px
}

.dropdown>.banner:last-child,.forward>.banner:last-child,.modal>.banner:last-child,.tooltip .tooltip-content>.banner:last-child,.widget>.banner:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: -10px
}

.btn>span,.link>span,.model>span,.name>span {
	display: inline;
	font-size: 13px;
	vertical-align: top
}

.btn:not(.block):not(.small),.form:not(.block):not(.small) {
	vertical-align: middle
}

.btn:not(.block).small,.form:not(.block).small {
	vertical-align: top
}

.btn:not(.block),.form:not(.block) {
	display: inline-block
}

.btn.block,.form.block {
	display: block;
	width: 100%
}

.break,.btn.disabled,.btn[disabled],.form[disabled] {
	cursor: not-allowed;
	opacity: .5
}

.hover,button.btn:not(.disabled):not([disabled]) {
	cursor: pointer
}

.carousel .carousel-item:not(.active):not(.next):not(.prev),.collapse:not(.active),.detail:not(.active),.dropdown:not(.active),.modal:not(.active),.navigation:not(.active),.sidebar:not(.active),.tab:not(.active),.window:not(.active) {
	display: none
}

.carousel .carousel-item.active,.collapse.active,.detail.active,.dropdown.active,.modal.active,.navigation.active,.sidebar.active,.tab.active,.window.active {
	display: block
}

*,.btn:active:focus,.btn:focus,:active,:focus,:hover,a:active,a:focus,a:hover,input:active,input:focus {
	outline: 0
}

@media (max-width:719px) {
	.col-12-xs {
		max-width: 100%;
		min-width: 100%;
		width: 100%
	}
	
	.col-11-xs {
		max-width: 91.66666667%;
		min-width: 91.66666667%;
		width: 91.66666667%
	}
	
	.col-10-xs {
		max-width: 83.33333333%;
		min-width: 83.33333333%;
		width: 83.33333333%
	}
	
	.col-9-xs {
		max-width: 75%;
		min-width: 75%;
		width: 75%
	}
	
	.col-8-xs {
		max-width: 66.66666667%;
		min-width: 66.66666667%;
		width: 66.66666667%
	}
	
	.col-7-xs {
		max-width: 58.33333333%;
		min-width: 58.33333333%;
		width: 58.33333333%
	}
	
	.col-6-xs {
		max-width: 50%;
		min-width: 50%;
		width: 50%
	}
	
	.col-5-xs {
		max-width: 41.66666667%;
		min-width: 41.66666667%;
		width: 41.66666667%
	}
	
	.col-4-xs {
		max-width: 33.33333333%;
		min-width: 33.33333333%;
		width: 33.33333333%
	}
	
	.col-3-xs {
		max-width: 25%;
		min-width: 25%;
		width: 25%
	}
	
	.col-2-xs {
		max-width: 16.66666667%;
		min-width: 16.66666667%;
		width: 16.66666667%
	}
	
	.col-1-xs {
		max-width: 8.33333333%;
		min-width: 8.33333333%;
		width: 8.33333333%
	}
	
	.visible-xs:not(table):not(tr) {
		display: block!important
	}
	
	table.visible-xs {
		display: table!important
	}
	
	tr.visible-xs {
		display: table-row!important
	}
	
	td.visible-xs,th.visible-xs {
		display: table-cell!important
	}
	
	.visible-inline-xs {
		display: inline!important
	}
	
	.visible-inline-block-xs {
		display: inline-block!important
	}
	
	.hidden-xs {
		display: none!important
	}
	
	.dropdown {
		border-radius: 0!important;
		bottom: 0!important;
		left: 0!important;
		max-height: 75%!important;
		max-width: none!important;
		top: auto!important
	}
	
	.chat {
		box-shadow: none!important;
		left: auto!important;
		z-index: 1!important
	}
	
	.chat,.dropdown {
		right: auto!important;
		width: 100%!important
	}
}

@media (min-width:720px) {
	.col-12-sm {
		max-width: 100%;
		min-width: 100%;
		width: 100%
	}
	
	.col-11-sm {
		max-width: 91.66666667%;
		min-width: 91.66666667%;
		width: 91.66666667%
	}
	
	.col-10-sm {
		max-width: 83.33333333%;
		min-width: 83.33333333%;
		width: 83.33333333%
	}
	
	.col-9-sm {
		max-width: 75%;
		min-width: 75%;
		width: 75%
	}
	
	.col-8-sm {
		max-width: 66.66666667%;
		min-width: 66.66666667%;
		width: 66.66666667%
	}
	
	.col-7-sm {
		max-width: 58.33333333%;
		min-width: 58.33333333%;
		width: 58.33333333%
	}
	
	.col-6-sm {
		max-width: 50%;
		min-width: 50%;
		width: 50%
	}
	
	.col-5-sm {
		max-width: 41.66666667%;
		min-width: 41.66666667%;
		width: 41.66666667%
	}
	
	.col-4-sm {
		max-width: 33.33333333%;
		min-width: 33.33333333%;
		width: 33.33333333%
	}
	
	.col-3-sm {
		max-width: 25%;
		min-width: 25%;
		width: 25%
	}
	
	.col-2-sm {
		max-width: 16.66666667%;
		min-width: 16.66666667%;
		width: 16.66666667%
	}
	
	.col-1-sm {
		max-width: 8.33333333%;
		min-width: 8.33333333%;
		width: 8.33333333%
	}
	
	.visible-sm:not(table):not(tr) {
		display: block!important
	}
	
	table.visible-sm {
		display: table!important
	}
	
	tr.visible-sm {
		display: table-row!important
	}
	
	td.visible-sm,th.visible-sm {
		display: table-cell!important
	}
	
	.visible-inline-sm {
		display: inline!important
	}
	
	.visible-inline-block-sm {
		display: inline-block!important
	}
	
	.hidden-sm {
		display: none!important
	}
}

@media (min-width:1440px) {
	.col-12-lg {
		max-width: 100%;
		min-width: 100%;
		width: 100%
	}
	
	.col-11-lg {
		max-width: 91.66666667%;
		min-width: 91.66666667%;
		width: 91.66666667%
	}
	
	.col-10-lg {
		max-width: 83.33333333%;
		min-width: 83.33333333%;
		width: 83.33333333%
	}
	
	.col-9-lg {
		max-width: 75%;
		min-width: 75%;
		width: 75%
	}
	
	.col-8-lg {
		max-width: 66.66666667%;
		min-width: 66.66666667%;
		width: 66.66666667%
	}
	
	.col-7-lg {
		max-width: 58.33333333%;
		min-width: 58.33333333%;
		width: 58.33333333%
	}
	
	.col-6-lg {
		max-width: 50%;
		min-width: 50%;
		width: 50%
	}
	
	.col-5-lg {
		max-width: 41.66666667%;
		min-width: 41.66666667%;
		width: 41.66666667%
	}
	
	.col-4-lg {
		max-width: 33.33333333%;
		min-width: 33.33333333%;
		width: 33.33333333%
	}
	
	.col-3-lg {
		max-width: 25%;
		min-width: 25%;
		width: 25%
	}
	
	.col-2-lg {
		max-width: 16.66666667%;
		min-width: 16.66666667%;
		width: 16.66666667%
	}
	
	.col-1-lg {
		max-width: 8.33333333%;
		min-width: 8.33333333%;
		width: 8.33333333%
	}
	
	.visible-lg:not(table):not(tr) {
		display: block!important
	}
	
	table.visible-lg {
		display: table!important
	}
	
	tr.visible-lg {
		display: table-row!important
	}
	
	td.visible-lg,th.visible-lg {
		display: table-cell!important
	}
	
	.visible-inline-lg {
		display: inline!important
	}
	
	.visible-inline-block-lg {
		display: inline-block!important
	}
	
	.hidden-lg {
		display: none!important
	}
}